extends base

block content
  main.main
    .manage-tours-header(style='display: flex; align-items: center; justify-content: space-between; margin: 2rem;')
      h1.heading-secondary Manage Tours
      a(href='/add-tour', class='btn btn--green') Add Tour

    .table-container
      table.table
        thead
          tr
            th Cover Image
            th Tour Name
            th Location
            th Duration (Days)
            th Difficulty
            th Difficulty
            th Ratings
            th Price
            th Summary
            th Created At
            th Start Dates
            th Max Group Size
            th No. of Bookings
            th Actions
        tbody
          each tour in tours
            tr
              td
                img(src=`/img/tours/${tour.imageCover}`, alt='Cover Image', width='75', height='75')
              td= tour.name
              td= tour.startLocation ? tour.startLocation.address : 'N/A'
              td= `${tour.duration} days`
              td= tour.difficulty
              td= `${tour.ratingsAverage} (${tour.ratingsQuantity} ratings)`
              td.font-bold= `$${tour.price}`
              td= tour.summary
              td= new Date(tour.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
              td
                each date in tour.startDates
                  p= new Date(date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
              td= tour.maxGroupSize
              td= tour.bookingsCount || 0
              td.actions
                .action-buttons
                  a(href=`/tour/${tour.slug}`, class='btn btn--white btn--small') View
                  a(href=`/update-tour/${tour._id}`, class='btn btn--green btn--small') Edit
                  button.btn.btn--red.btn--delete-tour.btn--small(data-tour-id=tour._id) Delete
